<div class="container">
  <div class="row">
    <h1 class="col-12 m-0" mat-dialog-title>{{ data.title }}</h1>
  </div>
  <div class="row">
    <div class="py-2" mat-dialog-content>
      <eustrosoft-front-input
        [label]="data.inputLabel"
        [fieldAppearance]="'outline'"
        [control]="control"
      ></eustrosoft-front-input>
    </div>
  </div>
  <div class="row">
    <div mat-dialog-actions>
      <eustrosoft-front-button
        [buttonType]="'button'"
        [buttonStyleType]="'flat'"
        [buttonText]="'Cancel'"
        (clicked)="reject()"
        class="col-6"
      >
      </eustrosoft-front-button>
      <eustrosoft-front-button
        [buttonType]="'button'"
        [buttonStyleType]="'flat'"
        [buttonText]="data.submitButtonText"
        [color]="'primary'"
        [disabled]="control.invalid"
        (clicked)="resolve()"
        class="col-6"
      >
      </eustrosoft-front-button>
    </div>
  </div>
</div>
