@import 'variables';

.files-over {
  background: $light-gray;
  transition: 0.2s background;
}

tr.table-row:hover {
  background: whitesmoke;
}

.progress-overlay {
  position: fixed;
  bottom: 0;
  right: 0.3em;
  left: 60%;
}
