<div class="container-fluid">
  <div class="row gx-3 mb-3">
    <div class="col-2">
      <eustrosoft-front-button
        [buttonType]="'button'"
        [buttonStyleType]="'stroked'"
        [buttonText]="newButtonText"
        [color]="'primary'"
        [matMenuTriggerFor]="newActionsMenu"
      >
      </eustrosoft-front-button>
      <mat-menu #newActionsMenu="matMenu">
        <button (click)="createFolder()" mat-menu-item>
          <mat-icon>create_new_folder</mat-icon>
          <span>New folder</span>
        </button>
        <button
          (click)="inputFileComponent.fileInput.nativeElement.click()"
          mat-menu-item
        >
          <mat-icon>upload</mat-icon>
          <span>New upload</span>
        </button>
      </mat-menu>
    </div>
    <ng-container *ngIf="selected$ | async as selected">
      <div class="col-2">
        <eustrosoft-front-button
          [hidden]="selected.length === 0"
          [buttonType]="'button'"
          [buttonStyleType]="'stroked'"
          [buttonText]="'Batch operations'"
          [color]="'primary'"
          [matMenuTriggerFor]="batchOperationsMenu"
        >
        </eustrosoft-front-button>

        <mat-menu #batchOperationsMenu="matMenu">
          <button
            (click)="copy(filesystemTableComponent.selection.selected)"
            mat-menu-item
          >
            <mat-icon>content_copy</mat-icon>
            <span>Copy</span>
          </button>
          <button
            (click)="move(filesystemTableComponent.selection.selected)"
            mat-menu-item
          >
            <mat-icon>drive_file_move</mat-icon>
            <span>Move to</span>
          </button>
          <button
            (click)="delete(filesystemTableComponent.selection.selected)"
            mat-menu-item
          >
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
    <eustrosoft-front-input-file
      [control]="control"
      [multiple]="true"
      (filesSelected)="startUpload()"
      hidden="true"
    ></eustrosoft-front-input-file>
  </div>
  <div class="row gx-3 mb-3">
    <eustrosoft-front-breadcrumbs
      [path$]="path$"
      (breadcrumbClicked)="openByPath($event)"
    ></eustrosoft-front-breadcrumbs>
  </div>
  <div class="row gx-3">
    <eustrosoft-front-filesystem-table
      [content]="(content$ | async) || []"
      (openClicked)="open($event)"
      (downloadClicked)="download($event)"
      (renameClicked)="rename($event)"
      (moveClicked)="move($event)"
      (copyClicked)="copy($event)"
      (deleteClicked)="delete($event)"
      (filesDroppedOnFolder)="filesDroppedOnFolder($event)"
    ></eustrosoft-front-filesystem-table>
  </div>
</div>

<!--TODO переделать в отдельный компонент, где у каждого файла будет свой индикатор загрузки-->
<!--Добавить возможность закрывать это окно (при закрытии отменять все загрузки)-->
<!--Добавить возможность удалять файлы из очереди загрузки-->
<!--Добавить возможность прерывать текущую загрузку-->
<!--Проверить что файлы загружаются корректно-->
<!--Очищать control по завершению загрузки-->

<eustrosoft-front-upload-overlay
  [hidden]="overlayHidden"
  [uploadItems]="(uploadItems$ | async) || []"
  (removeItem)="removeItemFromUploadList($event)"
  (closeOverlay)="overlayClose($event)"
></eustrosoft-front-upload-overlay>
