<div class="container-fluid">
  <div class="row gx-3 mb-3">
    <div class="col-2">
      <eustrosoft-front-button
        [buttonType]="'button'"
        [buttonStyleType]="'stroked'"
        [buttonText]="newButtonText"
        [color]="'primary'"
        [matMenuTriggerFor]="newActionsMenu"
      >
      </eustrosoft-front-button>
      <mat-menu #newActionsMenu="matMenu">
        <button (click)="createFolder()" mat-menu-item>
          <mat-icon>create_new_folder</mat-icon>
          <span i18n>New folder</span>
        </button>
        <button
          (click)="inputFileComponent.fileInput.nativeElement.click()"
          mat-menu-item
        >
          <mat-icon>upload</mat-icon>
          <span i18n>New upload</span>
        </button>
      </mat-menu>
    </div>
    <ng-container *ngIf="selected$ | async as selected">
      <div class="col-2">
        <eustrosoft-front-button
          [hidden]="selected.length === 0"
          [buttonType]="'button'"
          [buttonStyleType]="'stroked'"
          [buttonText]="'Batch operations'"
          [color]="'primary'"
          [matMenuTriggerFor]="batchOperationsMenu"
        >
        </eustrosoft-front-button>

        <mat-menu #batchOperationsMenu="matMenu">
          <button disabled mat-menu-item>
            <mat-icon>download</mat-icon>
            <span i18n>Download</span>
          </button>
          <button disabled mat-menu-item>
            <mat-icon>content_copy</mat-icon>
            <span i18n>Copy</span>
          </button>
          <button
            (click)="move(filesystemTableComponent.selection.selected)"
            mat-menu-item
          >
            <mat-icon>drive_file_move</mat-icon>
            <span i18n>Move to</span>
          </button>
          <button
            (click)="delete(filesystemTableComponent.selection.selected)"
            mat-menu-item
          >
            <mat-icon>delete</mat-icon>
            <span i18n>Delete</span>
          </button>
        </mat-menu>
      </div>
    </ng-container>
    <eustrosoft-front-input-file
      [control]="control"
      [multiple]="true"
      (filesSelected)="startUpload()"
      hidden="true"
    ></eustrosoft-front-input-file>
  </div>
  <div class="row gx-3 mb-3">
    <eustrosoft-front-breadcrumbs
      [path$]="path$"
      (breadcrumbClicked)="openByPath($event)"
    ></eustrosoft-front-breadcrumbs>
  </div>
  <div class="row gx-3">
    <eustrosoft-front-filesystem-table
      [content]="(content$ | async) || []"
      (openClicked)="open($event)"
      (downloadClicked)="download($event)"
      (renameClicked)="rename($event)"
      (moveClicked)="move($event)"
      (copyClicked)="copy($event)"
      (deleteClicked)="delete($event)"
      (filesDroppedOnFolder)="filesDroppedOnFolder($event)"
    ></eustrosoft-front-filesystem-table>
  </div>
  <div class="row gx-3">
    <ng-container *ngIf="upload$ | async as upload"></ng-container>
  </div>
</div>

<div
  class="border border-2 border-secondary border-opacity-25 rounded-2 p-2 bg-light progress-overlay"
  *ngIf="control.value.length > 0"
>
  <eustrosoft-front-file-list
    [files]="control.value"
    [classesForList]="[
      'm-2 p-2 bg-secondary bg-opacity-10 border-dark border-opacity-25 rounded-2'
    ]"
    (deleteFile)="deleteFile($event)"
    class="col-12"
  ></eustrosoft-front-file-list>
  <span class="text-break">{{ currentFile$ | async }}</span>
  <eustrosoft-front-progress-bar
    [mode]="'determinate'"
    [value]="progressBarValue$ | async | toNumber"
  ></eustrosoft-front-progress-bar>
</div>
