<table
  *ngIf="content.length > 0; else emptyTable"
  [dataSource]="content"
  class="mat-elevation-z8"
  mat-table
>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? toggleAllRows() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell i18n *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      <div class="d-flex">
        <ng-container [ngSwitch]="element.type">
          <ng-container *ngSwitchCase="fsObjTypes.DIRECTORY">
            <mat-icon>folder</mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="fsObjTypes.FILE">
            <mat-icon>draft</mat-icon>
          </ng-container>
        </ng-container>
        <div class="lh-18">{{ element.fileName }}</div>
      </div>
    </td>
  </ng-container>

  <!-- Last modified Column -->
  <ng-container matColumnDef="lastModified">
    <th mat-header-cell i18n *matHeaderCellDef>Last modified</th>
    <td mat-cell *matCellDef="let element">
      {{ element.modified | date }}
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell i18n *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <div class="d-flex">
        <eustrosoft-front-button
          [buttonType]="'button'"
          [buttonStyleType]="'icon'"
          [iconName]="'more_vert'"
          [color]="'primary'"
          [matMenuTriggerFor]="actionsMenu"
          (click)="$event.stopPropagation()"
        >
        </eustrosoft-front-button>
        <mat-menu #actionsMenu="matMenu">
          <button (click)="downloadClicked.emit(content[i])" mat-menu-item>
            <mat-icon>download</mat-icon>
            <span i18n>Download</span>
          </button>
          <button (click)="renameClicked.emit(content[i])" mat-menu-item>
            <mat-icon>drive_file_rename_outline</mat-icon>
            <span i18n>Rename</span>
          </button>
          <button (click)="moveClicked.emit([content[i]])" mat-menu-item>
            <mat-icon>drive_file_move</mat-icon>
            <span i18n>Move to</span>
          </button>
          <button (click)="copyClicked.emit([content[i]])" mat-menu-item>
            <mat-icon>content_copy</mat-icon>
            <span i18n>Copy</span>
          </button>
          <button (click)="deleteClicked.emit([content[i]])" mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span i18n>Delete</span>
          </button>
        </mat-menu>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    *matRowDef="let row; columns: displayedColumns"
    mat-row
    eustrosoftFrontFilesDropZone
    [fsObjType]="row.type"
    (filesDropped)="filesDroppedOnFolder.emit({ files: $event, fsObj: row })"
    (click)="openClicked.emit(row)"
    class="table-row"
  ></tr>
</table>
<ng-template #emptyTable>
  <div class="d-flex align-items-center justify-content-center vh-50">
    <p class="fs-4" i18n>Folder is empty</p>
  </div>
</ng-template>
