<eustrosoft-front-header
  [appsListTemplate]="appsListTemplate"
  [localizedTexts]="headerLocalizedTexts"
></eustrosoft-front-header>
<router-outlet></router-outlet>

<ng-template #appsListTemplate>
  <ng-container *ngIf="config | async as cnf">
    <a mat-menu-item [href]="cnf.dispatcherUrl">
      {{ localizedAppsListNames.dispatcher }}
    </a>
    <a mat-menu-item [href]="cnf.explorerUrl">
      {{ localizedAppsListNames.explorer }}
    </a>
    <a mat-menu-item [href]="cnf.appsPageUrl">
      {{ localizedAppsListNames.appsPage }}
    </a>
  </ng-container>
</ng-template>
